---
title: VMware Harbor Registry (Beta)
owner: Partners
---

<p class="note warning">
<strong>WARNING! </strong>
The VMware Harbor Registry tile is currently in beta and is intended for evaluation and test purposes only. 
Do not use this product in a PKS production environment.
</p>

VMware Harbor Registry is an enterprise-class registry server that stores and distributes container images. Harbor allows you to store and manage images for use with Pivotal Container Service (PKS).   

## <a id='overview'></a>Overview

Harbor extends the open source Docker Distribution by adding the functionalities usually required by an enterprise, such as security, identity and management. As an enterprise private registry, Harbor offers enhanced performance and security. Having a registry that is deployed alongside the PKS environment improves image transfer efficiency.

## <a id='features'></a>Key Features

Harbor includes the following key features:

* **Role based access control**: Users and repositories are organized into projects. Users can have different permissions for the images in different projects.
* **Policy based image replication**: Images can be replicated (synchronized) between multiple registry instances, with auto-retry on errors. Great for load balancing, high availability, multi-datacenter, hybrid and multi-cloud scenarios.
* **Vulnerability Scanning**: Harbor uses [Clair](https://github.com/coreos/clair) to scan images regularly and warn users of vulnerabilities.
* **LDAP/AD support**: Harbor integrates with existing enterprise LDAP/AD for user authentication and management.
* **Image deletion & garbage collection**: Images can be deleted and their space can be recycled. 
* **Notary**: Image authenticity can be ensured by using Docker Notary. 
* **Graphical user portal**: Users can easily browse, search repositories, and manage projects.
* **Auditing**: All the operations to the repositories are tracked.
* **RESTful API**: RESTful APIs for most administrative operations, easy to integrate with external systems. 

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about VMware Harbor Registry.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>0.8</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>December 15, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v1.3</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.0</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.12.6</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>[Yes or No]</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

There are no special requirements for deploying VMware Harbor Registry.

## <a id="limitations"></a>Limitations

There are no known limitations at this time.

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
[Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to harbor at vmware.com.

## <a id='license'></a>License

Harbor is available under the [Apache 2 license](https://github.com/vmware/harbor/blob/master/LICENSE).
