---
title: VMware Harbor Registry (Beta)
owner: Partners
---

<p class="note warning">
<strong>WARNING! </strong>
The VMware Harbor Registry tile is currently in beta and is intended for evaluation and test purposes only. 
Do not use this product in a PKS production environment.
</p>

VMware Harbor Registry is an enterprise-class registry server that stores and distributes container images.
Harbor allows you to store and manage images for use with Pivotal Container Service (PKS).

## <a id="overview"></a>Overview

Harbor extends the open source Docker Distribution by adding the functionalities usually required by an enterprise,
such as security, identity, and management.
As an enterprise private registry, Harbor offers enhanced performance and security.
Deploying a registry alongside the PKS environment improves image transfer efficiency.

## <a id="features"></a>Key Features

Harbor includes the following key features:

* **Role-Based Access Control**: Users and repositories are organized into projects.
    Users can have different permissions for the images in different projects.
* **Policy-Based Image Replication**: Images can be synchronized between multiple registry instances with auto-retry on errors,
     offering support for load balancing, high availability, multi-datacenter, hybrid, and multi-cloud scenarios.
* **Vulnerability Scanning**: Harbor uses [Clair](https://github.com/coreos/clair) to scan images regularly
    and warn users of vulnerabilities.
* **LDAP/Active Directory (AD) Support**: Harbor integrates with an existing enterprise LDAP/AD configuration for user authentication and management.
* **Image Deletion and Garbage Collection**: Images can be deleted, and their space can be recycled. 
* **Notary**: Image authenticity can be ensured by using Docker Notary. 
* **Graphical User Portal**: Users can easily browse, search repositories, and manage projects.
* **Auditing**: All the operations to the repositories are tracked.
* **RESTful API**: RESTful APIs for most administrative operations, easy to integrate with external systems. 

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about VMware Harbor Registry.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>1.3</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>December 15, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v1.3</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.0</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Container Service (PKS) version(s)</td>
        <td>v0.8</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS) version(s)</td>
        <td>v2.0</td>
    </tr>

    <tr>
        <td>IaaS support</td>
        <td>vSphere</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>No</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

There are no special requirements for deploying VMware Harbor Registry.

## <a id="limitations"></a>Limitations

* You can only configure the authentication source once.
  You cannot change between UAA, LDAP, or local authentication after the initial deployment.
* Support for LDAP Direct is experimental in version 0.8.
* You cannot upgrade the Harbor tile. 

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please contact [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io)
or send an email to [Harbor](mailto:harbor@vmware.com).

## <a id="license"></a>License

Harbor is available under the [Apache 2 license](https://github.com/vmware/harbor/blob/master/LICENSE).
