---
title: Release Notes for Harbor
owner: Partners
---

These are release notes for VMware Harbor Registry.

##<a id='v1.3.1'></a> v1.3.1

**Release Date:** January 15, 2018

Fixed issues in this release:

* Fixed: [#3942](https://github.com/vmware/harbor/issues/3942) PKS/Harbor: Harbor services can not start after Harbor VM is rebooted.
* Fixed: [#3849](https://github.com/vmware/harbor/issues/3849) Failed to stop dockerd service when updating the Harbor tile.
* Fixed: [#3823](https://github.com/vmware/harbor/issues/3823) Harbor tile should support user provided certificate signed with other than Ops Manager root CA.
* Fixed: [#3814](https://github.com/vmware/harbor/issues/3814) Add `Verify LDAP Certificate` option in Harbor Tile UI


##<a id='v1.3.0'></a> v1.3.0

**Release Date:** December 21, 2017

Features included in this release:

* Initial release of the VMware Harbor Registry.
* Adds a Harbor tile to Ops Manager.

<!--
**Release Date:** RELEASE-DATE (Ex. August 1, 2017)

Features included in this release:

* Feature one.
* Feature two.
* Feature three.

Fixed issues in this release:

* Fixed issue one.
* Fixed issue two.
* Fixed issue three.

Known issues in this release:

* Issue one.
* Issue two.
* Issue three.
-->
