---
title: Release Notes for Harbor
owner: Partners
---

These are release notes for VMware Harbor Registry.

##<a id='v1.4.0'></a> v1.4.0

**Release Date:** February 8, 2018

Features included in this release:

* External S3 Storage Capability
* User Account and Authentication (UAA) Integration Capability with PAS and PKS
* Replication policy rework to support wildcard, scheduled replication.
* Support for repository-level description.
* Batch operation on projects/repositories/users from UI.

Known issues in this release:

* [#4214](https://github.com/vmware/harbor/issues/4214) Deleting multiple tags that point to the same image may return a 500 error.
* [#4217](https://github.com/vmware/harbor/issues/4217) Cannot onboard users with the same email address. 
* Issues with some versions of the Firefox browser. Use Google Chrome for best results.

##<a id='v1.3.1'></a> v1.3.1

**Release Date:** January 16, 2018

Fixed issues in this release:

* Fixed: [#3942](https://github.com/vmware/harbor/issues/3942) PKS/Harbor: Harbor services can not start after Harbor VM is rebooted.
* Fixed: [#3849](https://github.com/vmware/harbor/issues/3849) Failed to stop dockerd service when updating the Harbor tile.
* Fixed: [#3823](https://github.com/vmware/harbor/issues/3823) Harbor tile should support user provided certificate signed with other than Ops Manager root CA.
* Fixed: [#3814](https://github.com/vmware/harbor/issues/3814) Add `Verify LDAP Certificate` option in Harbor Tile UI


##<a id='v1.3.0'></a> v1.3.0

**Release Date:** December 21, 2017

Features included in this release:

* Initial release of the VMware Harbor Registry.
* Adds a Harbor tile to Ops Manager.

<!--
**Release Date:** RELEASE-DATE (Ex. August 1, 2017)

Features included in this release:

* Feature one.
* Feature two.
* Feature three.

Fixed issues in this release:

* Fixed issue one.
* Fixed issue two.
* Fixed issue three.

Known issues in this release:

* Issue one.
* Issue two.
* Issue three.
-->
