---
title: Release Notes for Harbor
owner: Partners
---

These are release notes for VMware Harbor Registry.

##<a id='v1.3'></a> v1.3

**Release Date:** December 21, 2017

Features included in this release:

* Initial release of the VMware Harbor Registry.
* Adds a Harbor tile to Ops Manager.

<!--
**Release Date:** RELEASE-DATE (Ex. August 1, 2017)

Features included in this release:

* Feature one.
* Feature two.
* Feature three.

Fixed issues in this release:

* Fixed issue one.
* Fixed issue two.
* Fixed issue three.

Known issues in this release:

* Issue one.
* Issue two.
* Issue three.
-->
