---
title: Release Notes for VMware Harbor Registry Integration with Enterprise PKS
owner: Partners
---

## <a id='v1.7.5'></a> v1.7.5

**Release Date:** May 2, 2019

VMware Harbor Registry v1.7.5 is a minor release.

Supported upgrade paths:

* From Harbor v1.7.4 to Harbor v1.7.5
* From Harbor v1.7.3 to Harbor v1.7.5
* From Harbor v1.7.2 to Harbor v1.7.5
* From Harbor v1.6 to Harbor v1.7.5
* From Harbor v1.5 to Harbor v1.7.5

Resolved issues:

* Harbor upgrade from 1.7.2 to 1.7.4 failed with error "Failed to update database, error: pq: must be owner of relation schema_migrations"
* Bumped up Clair to v2.0.8
* Fixed issues in supporting Windows images.
* Removed user-agent check-in notification handler.
* Fixed the issue global search not working if chartmusuem is not installed.

Known issues:

* Cannot enter into the public projects in the global search result page without login (https://github.com/goharbor/harbor/issues/6435).
* Image label filter should consistent with charts (https://github.com/goharbor/harbor/issues/6447).

Support matrix:

* Supports PKS v1.3.x, 1.4.x,
* Supports Ops Manager v2.3, Ops Manager v2.4

## <a id='v1.7.4'></a> v1.7.4

**Release Date:** March 26, 2019

VMware Harbor Registry v1.7.4 is a minor release.

Supported upgrade paths:

* From Harbor v1.7.3 to Harbor v1.7.4
* From Harbor v1.7.2 to Harbor v1.7.4
* From Harbor v1.6 to Harbor v1.7.4
* From Harbor v1.5 to Harbor v1.7.4

Fixes in this release:

* Not able to increase the disk size of the harbor VM.
* notary-server and notary-signer cannot start after upgrading to 1.7.4
* Other Harbor issues listed at the [Harbor repository](https://github.com/goharbor/harbor/issues?q=is%3Aissue+is%3Aclosed+label%3Atarget%2F1.7.4) in GitHub.

## <a id='v1.7.3'></a> v1.7.3

**Release Date:** February 20, 2019

VMware Harbor Registry v1.7.3 is a minor release.

Supported upgrade paths:

* From Harbor v1.7.2 to Harbor v1.7.3
* From Harbor v1.7.1 to Harbor v1.7.3
* From Harbor v1.6 to Harbor v1.7.3
* From Harbor v1.5 to Harbor v1.7.3

Fixes in this release:

* [CVE-2019-5736](http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-5736): runc container breakout.

## <a id='v1.7.2'></a> v1.7.2

**Release Date:** February 5, 2019

VMware Harbor Registry v1.7.2 is a minor release.

Supported upgrade paths:

* From Harbor v1.6 to Harbor v1.7.2
* From Harbor v1.5 to Harbor v1.7.2

Fixes in this release:

* The Harbor upgrade from 1.6.0 to 1.7.1 known issue.
* Ctl start failed issue when NFS storage is configured.

## <a id='v1.7.1'></a> v1.7.1

**Release Date:** January 16, 2019

<p class="note warning"><strong>WARNING</strong>: We recommend that you skip the Harbor v1.7.1 release and install or upgrade to <a href="release-notes.html#v1.7.2">Harbor v1.7.2</a>.</p>

VMware Harbor Registry v1.7.1 is a general availability release with several new features and fixes.

Features in this release:

* Support for [Harbor Registry Release-1.7.0](https://github.com/goharbor/harbor/wiki/Release-1.7.0).
* Bump stemcell version to ubuntu-xenial 170.14.

Fixes in this release:

* You can now change the Harbor `admin` password using the Harbor web interface. You must enter the new password in the **Admin Password to run smoke test** field of the **Credentials** pane in the Harbor tile before reinstalling or upgrading the Harbor tile.
* The parameter `registry` is added by default and does not have to be added manually to the `no_proxy` field for Clair proxy configuration.

Known issue in this release:

When upgrading from Harbor v1.6.0 to v1.7.1, the upgrade procedure may fail with the following error message: `1 of 3 pre-start scripts failed. Failed Jobs: harbor.` The workaround is to log in to the Harbor VM with BOSH and check the Docker images. If there are any Docker images found for `vmware/harbor-log`, remove the images before migration. After removing the images, click **Apply Changes** in Ops Manager and retry the upgrade. This issue is addressed in Harbor v1.7.2. 

For guidance on logging in to the Harbor VM using BOSH, see [Managing PKS Deployments with BOSH](https://docs.pivotal.io/runtimes/pks/1-3/manage-deployments-bosh.html).

See the following example commands to check for Docker images in `vmare/harbor-log`:
    
```
alias docker='/var/vcap/packages/docker/bin/docker -H unix:///var/vcap/sys/run/docker/dockerd.sock'
docker images | grep vmware/harbor-log
```

See the following example command to remove any Docker images found for `vmware/harbor-log`:

```    
docker rmi IMAGES-ID-OF-VMWARE/HARBOR-LOG
```

## <a id='v1.6.3'></a> v1.6.3

**Release Date:** December 21, 2018

The Harbor 1.6.3 tile is a maintenance release.

Fixes in this release:

* Fixed issue with Clair's inability to scan S3 storage if it does not have the proper CA certificate for the S3 storage URL.
* Fixed issue with user being unable to sign images using Notary after upgrading to v1.6.

## <a id='v1.6.0'></a> v1.6.0

**Release Date:** Sept 27, 2018

For more information about new Harbor features, see the [release notes](https://github.com/goharbor/harbor/wiki/Release-1.6.0) for Harbor v1.6.0 in the Harbor GitHub repository.

Features in this release:

* Support for customizing Docker container network address pool in the Harbor tile configuration.
* Disables Clair update by default in the Harbor tile.

Fixes in this release:

* **Email/UAA Settings** tab in the Harbor UI is reset to defaults after a resurrection event occurs in BOSH.
* When using S3 storage in Harbor tile to point to an internal S3 object store, Harbor does not trust the issuer.

Known issues in this release:

* If you change the Harbor `admin` password using the Harbor web interface, subsequent attempts to use **Apply Changes**in Ops Manager to update the Harbor tile will fail. To avoid this issue, do not change the Harbor password using the Harbor web interface.

## <a id='v1.5.2'></a> v1.5.2

**NOTE:** This release is not supported as of 4/10/2019.

**Release Date:** July 23, 2018

Minor release to fix issues in v1.5.x.

Fixes in this release:

* Continuous traffic towards security-tracker.debian.org from Clair.
* Harbor upgrade from v1.4.2 to v1.5.1 failing.
* Email settings tab in Harbor UI is reset to defaults after a resurrection.

## <a id='v1.5.1'></a> v1.5.1

**NOTE:** This release is not supported as of 4/10/2019.

**Release Date:** June 28, 2018

General Availability release to be used with PKS v1.1.x and Pivotal Application Service (PAS) v2.1.x.

Features in this release:

* Harbor Tile v1.5.1 includes the Harbor v1.5.1 GA release build.
* Harbor Tile v1.5.1 is fully compatible with PKS v1.1.0 (but not PKS v1.0.x).


## <a id='v1.4.2'></a> v1.4.2

**NOTE:** This release is not supported as of 4/10/2019.

**Release Date:** May 21, 2018

General Availability release to be used with <%= vars.product_pks_short %> v1.x and PAS v2.x.

Features in this release:

* Allow configuring the HTTP proxy for Clair in the Harbor Tile.
* Allow configuring **v4auth** and **secure** for S3-compatible registry storage in the Harbor Tile.
* Support GCS as the docker registry storage in the Harbor Tile.
* Support upgrade from Harbor Tile v1.4.1 to v1.4.2.
* Encryption: No changes to encryption with this release.

Fixed issues in this release:

* Harbor Tile status shows failure after Harbor VM is rebooted manually or by vSphere HA.
* Harbor service sometimes cannot start after clicking **Apply changes** in Ops Manager.
* Clair or Notary cannot be turned off in Harbor Tile.
* <%= vars.product_pks_short %> UAA user with admin rights does not have privilege.


## <a id='v1.4.1'></a> v1.4.1

**NOTE:** This release is not supported as of 4/10/2019.

**Release Date:** February 8, 2018

Fixed issues in this release:

* [#4244](https://github.com/vmware/harbor/issues/4214) Harbor Tile deployment fails when the network name in BOSH Director contains upper-case characters.

Known issues in this release:

* [#4214](https://github.com/vmware/harbor/issues/4214) Deleting multiple tags that point to the same image may return a 500 error.
* [#4217](https://github.com/vmware/harbor/issues/4217) When using UAA, cannot onboard users with the same email address. Email addresses must be unique.
* Users may experience unexpected behavior with some versions of the Firefox browser when accessing the Harbor UI. Suggest use of Google Chrome for best results.
* Harbor uses default internal networks (default Docker IPs) that may overlap with customer production networks and cause issues, such as preventing communication with the registry from outside of the VM. For more information, see [PKS is unable to access the Harbor web interface](https://community.pivotal.io/s/article/PKS-is-unable-to-access-the-Harbor-web-interface) in the Pivotal Support Knowledge Base.


## <a id='v1.4.0'></a> v1.4.0

**NOTE:** This release is not supported as of 4/10/2019.

**Release Date:** February 7, 2018

Features included in this release:

* User Account and Authentication (UAA) integration capability with PAS and <%= vars.product_pks_short %>.
* External S3 storage capability.
* Replication policy rework to support wildcard, scheduled replication.
* Support for repository-level description.
* Batch operation on projects/repositories/users from UI.

Known issues in this release:

* [#4214](https://github.com/vmware/harbor/issues/4214) Deleting multiple tags that point to the same image may return a 500 error.
* [#4217](https://github.com/vmware/harbor/issues/4217) When using UAA, cannot onboard users with the same email address. Email addresses must be unique.
* Users may experience unexpected behaviour with some versions of the Firefox browser when accessing the Harbor UI. Suggest use of Google Chrome for best results.

## <a id='v1.3.1'></a> v1.3.1

**NOTE:** This release is not supported as of 4/10/2019.

**Release Date:** January 16, 2018

Fixed issues in this release:

* Fixed: [#3942](https://github.com/vmware/harbor/issues/3942) <%= vars.product_pks_short %>/Harbor: Harbor services cannot start after Harbor VM is rebooted.
* Fixed: [#3849](https://github.com/vmware/harbor/issues/3849) Failed to stop dockerd service when updating the Harbor tile.
* Fixed: [#3823](https://github.com/vmware/harbor/issues/3823) Harbor tile should support user-provided certificate signed with other than Ops Manager root CA.
* Fixed: [#3814](https://github.com/vmware/harbor/issues/3814) Add **Verify LDAP Certificate** option in Harbor Tile UI.

## <a id='v1.3.0'></a> v1.3.0

**Release Date:** December 21, 2017

Features included in this release:

* Initial release of the VMware Harbor Registry.
* Adds a Harbor tile to Ops Manager.
