---
title: Using Harbor
owner: Partners
---

This topic describes how to use the Harbor integration for Pivotal Cloud Foundry (PCF).

##<a id='using'></a> Using VMware Harbor Registry

To log in to VMware Harbor Registry, perform the following steps:

1. Navigate to `https://harbor_host_address:443` in a browser.
1. Enter the username `admin`.
1. Enter the password that you set when you configured Harbor for PCF. 

For information about how to use Harbor, see the following sections of the [Harbor User Guide](https://github.com/vmware/harbor/blob/master/docs/user_guide.md):

- [Role Based Access Control (RBAC)](https://github.com/vmware/harbor/blob/master/docs/user_guide.md#role-based-access-controlrbac)
- [Managing projects](https://github.com/vmware/harbor/blob/master/docs/user_guide.md#managing-projects)
- [Managing members of a project](https://github.com/vmware/harbor/blob/master/docs/user_guide.md#managing-members-of-a-project)
- [Searching projects and repositories](https://github.com/vmware/harbor/blob/master/docs/user_guide.md#searching-projects-and-repositories)
- [Harbor Administration](https://github.com/vmware/harbor/blob/master/docs/user_guide.md#administrator-options)
- [Pulling and pushing images using Docker client](https://github.com/vmware/harbor/blob/master/docs/user_guide.md#pulling-and-pushing-images-using-docker-client)
- [Pull image from Harbor in Kubernetes](https://github.com/vmware/harbor/blob/master/docs/user_guide.md#pull-image-from-harbor-in-kubernetes)

<!--
**This topic should include any instructions for how to use the service or dashboard created by the tile. 
Give procedures for how to perform the different functions offered by your product and provide screenshots where necessary.** 

**You can also use this section to include information about Architecture and Troubleshooting for known errors. 
If you include a Troubleshooting section, follow the Symptom/Explanation format used in the 
[Okta Troubleshooting](http://docs.pivotal.io/p-identity/okta/troubleshooting.html) topic**.
-->
